@import "bootstrap";

.player {
  display: block;
  width: 336px;
  height: 189px;
  text-align: center;
  border: 1px solid #999;
}

.player img {
  margin-top: 50px;
  border: 0px;  
}

.segment {
  margin-top: 40px;
}


