@import "bootstrap";

.player {
  display: block;
  width: 320px;
  height: 240px;
  text-align: center;
  border: 1px solid #999;
}

.player img {
  margin-top: 70px;
  border: 0px;  
}

.segment {
  margin-top: 40px;
}


