    <div id="footer" role="contentinfo">
      <div class='vcard'>
        <h2 class='fn org'>Office of Adolescent Health</h2>
        <p class='adr'>
          <span class='street-address'>1101 Wootton Parkway,</span>
          <span class='extended-address'>Suite 700</span>
          <br />
          <span class='locality'>Rockville,</span>
          <span class='region'>MD</span>
          <span class='postal-code'>20852</span>
        </p>
        <p class='email'>
          <a href='mailto:oah.gov@hhs.gov'>oah.gov@hhs.gov</a>
        </p>
        <p>
          <a href='/ash/oah/about-us/contact.html'>Contact Us</a>
        </p>
      </div><!-- eo .vcard -->
      <ul>
        <li>
          <a target="new" href='http://www.hhs.gov'>HHS Home</a>
        </li>
        <li>
          <a href='http://answers.hhs.gov/'>Questions?</a>
        </li>
        <li>
          <a target="new" href='http://www.hhs.gov/ContactUs.html'>Contacting HHS</a>
        </li>
        <li>
          <a href='http://www.hhs.gov/Accessibility.html'>Accessibility</a>
        </li>
        <li>
          <a href='http://www.hhs.gov/Privacy.html'>Privacy Policy</a>
        </li>
        <li>
          <a target="new" href='http://www.hhs.gov/foia/'>FOIA</a>
        </li>
        <li>
          <a target="new" href='http://www.hhs.gov/Disclaimer.html'>Disclaimers</a>
        </li>
        <li>
          <a target="new" href='http://oig.hhs.gov/'>Inspector General</a>
        </li>
        <li>
          <a target="new" href='http://www.hhs.gov/asa/eeo/no_fear_bullet_3.html'>No FEAR Act</a>
        </li>
        <li>
          <a target="new" href='http://www.hhs.gov/web/tools/plugins.html'>Viewers &#38; Players</a>
        </li>
      </ul>
      <ul>
        <li>
          <a target="new" href='http://www.whitehouse.gov/'>The White House</a>
        </li>
        <li>
          <a target="new" href='http://www.usa.gov/'>USA.gov</a>
        </li>
        <li>
          <a target="new" href='http://paymentaccuracy.gov/'>PaymentAccuracy.gov</a>
        </li>
        <li>
          <a target="new" href='http://archive.hhs.gov/'>HHS Archive</a>
        </li>
        <li>
          <a target="new" href='http://flu.gov/'>Flu.gov</a>
        </li>
        <li>
          <a target="new" href='http://www.hhs.gov/open/recordsandreports/plainwritingact/index.html'>Plain Language</a>
        </li>
      </ul>
    </div><!-- eo #footer -->