
  <div class='ribbon'>
    <div class='container'>
      <p class='logo'>U.S. Department of Health &#38 Human Services</p>
      <p class='url'><a href='http://www.hhs.gov' title='U.S. Department of Health &amp;#38 Human Services'>http://www.hhs.gov</a></p>
    </div>
  </div><!-- eo .ribbon -->

  <div id="oah_popup_wrapper" style="height: 205px; width: 320px; display:none; z-index: 1001;"><a id="close_oah" href="#"><span style="font-size: 11px;">Close Window</span></a>
    <div id="oah_popup" style="height: 150px; width: 300px;"></div>
  </div>
