
        <div class="hgroup">
          <h1 class="tk-proxima-nova"><%= data.site.title %></h1>
        </div>

        <div class="entry-content">

        <!-- 
        BELOW is dojo4-provided content; ABOVE is Trilogy template content
        -->

        <%= javascript_include_tag 'application' %>


        <!-- 
        ABOVE is dojo4-provided content; BELOW is Trilogy template content
        -->

        </div><!-- eo .entry-content -->
